@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #006B49;
    --verdin: #01A86E;
    --verdinzin: #44E1AF;
    --background: linear-gradient(90deg, #006B49 14.32%, #01A86E 30.65%);
    --font-family: 'Bebas Neue';
    --white: #fff;
    --gradiente: linear-gradient(180deg, #44E1AF 0%, #01A86E 35.1%, #006B49 78.81%);
}

.cab-CA{
    background: var(--background);
    width: 100%;
    height: 138px;
}
.ctn-CA{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.logo-CA{
    height: 100%;
    width: 20%;
    /* background-color: green; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.img-CA{
    width: 163px;
    height: 93px;
}
.header-CA{
    height: 100%;
    width: 60%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.header-CA a{
    color: var(--white);
    font-family: var(--font-family);
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.header-CA a:hover{
    transform: scale(1.1);
}

.header-CA button{
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family);
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.header-CA button:hover{
    transform: scale(1.1);
}

.main-CA{
    height: 82.25vh;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quadro-CA{
    height: 90%;
    width: 85%;
    background-color: #01A86E;

    border-radius: 30px;
    border: black solid 3px;
}

.lista-CA{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

.input-CA{
    /* background-color: black; */
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
}

.form-CA{
    width: 100%;
    height: 100%;
    /* background-color: rgb(43, 226, 165); */
}

.meio-CA{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
}

.form-meio-CA{
    width: 50%;
    height: 100%;
    /* background-color: brown; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.meio-inputs-CA{
    width: 50%;
    height: 80%;
    /* background-color: chartreuse; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inputs-CA{
    width: 100%;
    height: 33%;
    /* background-color: chocolate; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.inputs-CA p{
    font-size: 30px;
    font-family: var(--font-family);
    color: white;
}

.inputs-CA input{
    width: 100%;
    height: 30%;

    border-radius: 5px;
    border: black solid 2px;

    font-size: 20px;
    font-style: var(--font-family);
}

.btn-CA{
    width: 100%;
    height: 20%;
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-CA button{
    font-family: var(--font-family);
    font-size: 40px;

    color: white;
    background-color: var(--verdinzin);
    border-radius: 10px;

    padding: 10px 50px;
    transition: 0.5s;
}

.btn-CA button:hover{
    background-color: var(--background-color);
}

.select-CA{
    width: 100%;
    height: 33%;

    border-radius: 5px;
    border: black solid 2px;

    font-size: 20px;
    font-style: var(--font-family);
}